
.deneme{
  border: solid 2px grey ;
  table-layout: auto;
}
.main-div{
  height: 100vh;
  width: 100vw;
}
.game-div{
  border-top: solid 0.4vh;
  border-bottom: solid 0.4vh;
  
}
.row{
  height:4.7vh;
  
}
.cell{
  height: 4.7vh;
  width: 5vw;

display: inline-block;
}
.snake-cell{
  background-color: green;
}
.food-cell{
  background-color: red;
}
.main-button{
height: 5vh;

}
@media only screen and (max-width: 900px){
.main-div{
  
}
.row{
  height:4.6vh;
  
}
.cell{
  border: solid 0.vw;
  height: 4.6vh;
  width: 3.72vw;

display: inline-block;
}
.game-div{
  border: solid 0.4vh;
  
  margin: 0px 10vw 0px 15vw;
}
.move-button{
  position: absolute;
}
.up{
  top:15vh;
  right: 3vw;
  height: 20vh;
  width: 6vw;
  border: solid 0.5vw;
  border-radius: 3vw;
}
.down{
  bottom:25vh;
  right: 3vw;
  height: 20vh;
  width: 6vw;
  border: solid 0.5vw;
  border-radius: 3vw;
}
.right{
  top:40vh;
  left: 7.7vw;
  width: 19vh;
  height: 10vw;
  border: solid 0.5vw;
  border-radius: 3vw;
}
.left{
  top:40vh;
  left: 0vw;
  width: 19vh;
  height: 10vw;
  border: solid 0.5vw;
  border-radius: 3vw;
}
}
